---
import FooterContent from '@/components/islands/FooterContent';
import type { SocialLink } from '@/types/portfolio';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

const socialLinks: SocialLink[] = [
  {
    name: 'GitHub',
    url: 'https://github.com/kevinbenach',
    iconName: 'github',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/kevinbenach/',
    iconName: 'linkedin',
  },
  {
    name: 'Twitter',
    url: 'https://x.com/kevinbenach',
    iconName: 'twitter',
  },
  { name: 'Email', url: '#contact', iconName: 'email' },
];

const currentYear = new Date().getFullYear();
---

<footer
  class={`bg-gray-50 dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 ${className}`}
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <FooterContent
      socialLinks={socialLinks}
      currentYear={currentYear}
      client:only="preact"
    />
  </div>
</footer>
